{:paths ["src"]
 :aliases {:main    {:main-opts ["-m" "raytracing"]}
           :realm   {:main-opts ["-m" "realm.raytracing"]}
           :main-i  {:main-opts ["-m" "experimental.raytracing-i"]}
           :main-rf {:main-opts ["-m" "experimental.raytracing-rf"]}
           :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler  {:mvn/version "1.6.2"}
                                  criterium/criterium                       {:mvn/version "0.4.6"}
                                  com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.7"}}
                     :jvm-opts   ["-Djdk.attach.allowAttachSelf"
                                  "-XX:+EnableDynamicAgentLoading"]}}}