{:paths ["src"]
 :aliases {:main    {:main-opts ["-m" "raytracing"]}
           :main-i  {:main-opts ["-m" "experimental.raytracing-i"]}
           :main-rf {:main-opts ["-m" "experimental.raytracing-rf"]}
           :main-rd {:main-opts ["-m" "experimental.raytracing-rd"]}
           :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}
                                  criterium/criterium                      {:mvn/version "0.4.6"}}
                     :jvm-opts   ["-Djdk.attach.allowAttachSelf"
                                  "-XX:+EnableDynamicAgentLoading"]}}}